header {

    width: 90%;
    margin: auto;
    font-family: myfont;


}


body {
    width: 100%;
    margin: center;
    font-family: myfont;

}

@font-face {
    font-family: myfont;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

ol {
    display: flex;




}

ol {

    margin-top: 23px;
    list-style-type: none;

}

ol img {
    width: 140px;
    vertical-align: center;
}

ol li:nth-child(1) {
    flex-grow: 0.10;
}

ol li {
    font-size: 90%;


}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    vertical-align: center;


}

.position-set {
    display: flex;
    position: relative;
    left: -15px;
    gap: 34px;
    list-style-type: none;
    margin-top: 1px;


}

.position-set img {
    width: 18px;
    position: relative;
    left: 23em;
    margin-top: 1px;

}

.position-set h5 {
    position: relative;
    left: 24.5em;
    font-size: 13px;
}

.position-set button {
    position: relative;
    left: 22.5em;
    padding-block: 6px;
    padding-inline: 14px;
    margin-top: -6px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid black;
}

.top-background-pic {
    margin-top: 20px;
    width: 100%;
    /* border: 2px solid; */
    height: 39em;
}

.body-1 h5 {
    position: relative;
    top: -543px;
    margin-left: 63px;
    font-size: 44px;
    font-weight: 400
}

.body-1 h4 {
    position: relative;
    top: -11.4em;
    font-size: 3em;
    margin-left: 59px;
    font-weight: 400;


}

.body-1 h3 {
    position: relative;
    top: -11.2em;
    font-size: 3em;
    margin-left: 59px;
    font-weight: bold;


}

.body-1 p {
    position: relative;
    top: -31.7em;
    font-size: 1em;
    margin-left: 63px;
    font-weight: 400;
    width: 453px;
}

.body-1 button {
    position: relative;
    top: -26.5em;
    padding-block: 14px;
    padding-inline: 30px;
    margin-left: 63px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 18px;
}

.body-1 small {
    position: relative;
    top: -35.9em;
    margin-left: 30px;
    font-weight: 300;

}

.body-1-star {
    position: absolute;
    height: 50%;
    width: 7%;
    left: 59px;
    top: 25em;


}

.body-1-star-2 {
    position: relative;
    top: -23.9em;
    width: 18px;
    margin-left: -397px
}

.body-1-star-3 {
    position: relative;
    top: -23.9em;
    width: 18px;
    margin-left: -2px;



}

.body-1-star-4 {
    position: relative;
    top: -23.9em;
    width: 18px;
    margin-left: -2px;



}

.body-1-star-5 {
    position: relative;
    top: -23.9em;
    width: 18px;
    margin-left: -2px;



}

.body-1-star-6 {
    position: relative;
    top: -23.9em;
    width: 18px;
    margin-left: -2px;
}

.body-1 h6 {
    position: relative;
    top: -399px;
    margin-left: 61px;
    font-size: 11px;
}

.body-1 h1 {
    position: relative;
    top: -395px;
    margin-left: 61px;
    font-size: 11px;
}

.reviews {
    position: relative;
    left: 1px;
    margin-block: 15px;
}

.second-reviews h4 {
    position: relative;
    top: -424px;
    margin-inline: 92px;
    font-size: 12px;
}

.lazy-loaded img {
    position: relative;
    top: -499px;
    margin-inline: 220px;
}

.lazy img {
    position: relative;
    top: -548px;
    margin-inline: 299px;
    width: 99px;
}

.body-right {
    display: flex;


}

.js-animation-preset {
    display: flex;
    width: 30%;



}

.js-animation-preset {
    display: flex;
    position: relative;
    top: -1010px;
    margin-left: 550px;
    width: 700px;
}

.body-2 h2 {
    position: relative;
    top: -895px;
    margin-left: 436px;
    font-weight: 300;
    font-size: 18px;
}

.body-2 span {
    position: relative;
    top: -409px;
    margin-left: 583px;
    font-weight: 600;
    font-size: 18px;
}

.body-2 .border-text {
    height: 35px;
    width: 247px;
    background-color: white;
    position: relative;
    top: -920px;
    margin-left: 175px;
    border-radius: 23px;
    border: 1px solid black;
}

.body-2 h6 {
    position: relative;
    top: 8px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;


}

.body-2 img {
    width: 15px;
    position: relative;
    top: -9px;
    margin-left: 219px;
}

.border-text:hover {
    background-color: #eefdef;
    border-color: rgb(9, 148, 9);
}

.border-text h6:hover {
    color: rgb(23, 179, 23);
}

.border-text:active {
    background-color: rgb(18, 136, 18);
}

.border-text h6:active {
    color: white;
}

.body-2 .bordertext-2 {
    height: 35px;
    width: 317px;
    background-color: white;
    position: relative;
    top: -956px;
    margin-left: 430px;
    border-radius: 23px;
    border: 1px solid black;
}

.bordertext-2 h5 {
    position: relative;
    top: 8px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
}

.body-2 .body-2arrow {
    margin-left: 288px;
}

.body-2 .bordertext-3 {
    height: 35px;
    width: 319px;
    background-color: white;
    position: relative;
    top: -992px;
    margin-left: 756px;
    border-radius: 23px;
    border: 1px solid black;
}

.bordertext-2:hover {
    background-color: #eefdef;
    border-color: rgb(9, 148, 9);
}

.bordertext-2 h5:hover {
    color: rgb(23, 179, 23);
}

.bordertext-2:active {
    background-color: rgb(18, 136, 18);

}

.bordertext-2 h5:active {
    color: white;
}

.bordertext-3 h5 {
    position: relative;
    top: 8px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
}

.bordertext-3 .body-3arrow {
    width: 15px;
    position: absolute;
    top: 10px;
    margin-left: 289px
}

.bordertext-3:hover {
    background-color: #eefdef;
    border-color: rgb(9, 148, 9);
}

.bordertext-3 h5:hover {
    color: rgb(23, 179, 23);
}

.bordertext-3:active {
    background-color: rgb(18, 136, 18);

}

.bordertext-3 h5:active {
    color: white;
}

.body-3 h1 {
    position: relative;
    top: -910px;
    font-size: 31px;
    font-weight: 400;
    margin-inline: 286px
}

.h1 {
    left: 91px;
}

.body-3 p {
    margin-top: -336px;
    margin-left: 288px;
    width: 800px;
    font-weight: 400;
    font-size: 17px;
}

.body-4 {
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-1 {
    margin-left: 58px;
    margin-top: -666px;
    background-color: #f7f7f7;
    width: 550px;
    height: 600px;
    border-radius: 25px;
    cursor: pointer;
}

.grid-1 h2 {
    margin-top: 941px;
    margin-left: 191px;
    font-weight: 800;
    font-size: 21px;
}

.grid-1 p {
    margin-top: -369px;
    width: 800px;
    margin-left: 39px;
}

.body-4 .grid-p {
    position: relative;
    top: -135px;
    margin-left: 131px
}

.grid-1 .learn-blue-1 {
    margin-left: 229px;
    position: relative;
    top: -116px;
    color: blue;
    font-size: 13px;
    font-weight: 400;

}

.errow-1 img {
    position: relative;
    top: -133px;
    margin-left: 313px;
    width: 11px;

}

.grid-1 .js-animation-preset {
    position: relative;
    top: -100px;
    width: 90%;
    margin-left: 20px;

}

.grid-2 {
    margin-left: 16px;
    margin-top: -666px;
    background-color: #f7f7f7;
    width: 550px;
    height: 600px;
    border-radius: 25px;

}

.grid-2 h3 {
    position: relative;
    top: 10px;
    font-weight: 800;
    font-size: 21px;
    margin-top: 36px;
    margin-left: 186px;
}

.grid-2 p {
    position: relative;
    top: 29px;
    width: 473px;
    margin-left: 43px;
}

.grid-2 .grid-2-p {
    margin-inline: 131px;
    line-height: 24px;
}

.grid-2 .learn-blue {
    position: relative;
    top: 44px;
    color: blue;
    font-size: 13px;
    font-weight: 400;
    margin-inline: 236px;
}

.errow-2 img {
    margin-left: 320px;
    width: 11px;
    position: absolute;
    top: 1311px;
}

.grid-2 .lazy-loaded {
    position: absolute;
    top: 1343px;
    width: 40%;
    margin-left: 22px;
    cursor: pointer;
}

.grid-3 {
    margin-left: -579px;
    margin-top: -29px;
    background-color: #f7f7f7;
    width: 550px;
    height: 600px;
    border-radius: 25px;

}

.grid-3 h2 {
    position: relative;
    top: 42px;
    margin-left: -395px;
    font-size: 21px;
    font-weight: 800;


}

.grid-3 p {
    position: relative;
    top: 100px;
    margin-left: -558px;
    width: 800px;
    margin-top: -35px;


}

.grid-3 .grid-3-p {
    margin-top: 3px;
    margin-left: -540px;
}

.grid-3 a {
    position: relative;
    top: 117px;
    margin-left: -361px;
    color: blue;
    font-size: 13px;
    font-weight: 400;
}

.errow-3 img {
    position: relative;
    top: 99px;
    margin-left: -278px;
    width: 11px;
}

.grid-3 .lazy-loaded {
    width: 85%;
    margin-left: -555px;
    margin-top: 145px;
}

.grid-4 {
    margin-left: 57px;
    margin-top: -600px;
    background-color: #f7f7f7;
    width: 550px;
    height: 600px;
    border-radius: 25px
}

.grid-4 h2 {
    position: relative;
    top: 43px;
    width: 224px;
    font-size: 21px;
    font-weight: 800;
    margin-left: 770px;
}

.grid-4 p {
    position: relative;
    top: 65px;
    margin-left: 669px;


}

.grid-4 .grid-4-p {
    width: 463px;
    line-height: 25px;
    margin-left: 648px;
}

.grid-4 a {
    position: absolute;
    top: 1945px;
    margin-left: 835px;
    color: blue;
    font-size: 13px;
    font-weight: 400;
}

.errow-4 img {
    margin-left: 919px;
    margin-top: 95px;
    width: 11px;
}
.grid-4 .js-animation-preset{
    position: relative;
    top: 40px;
    width: 90%;
    margin-left: 610px;

}